/* ejemplo1.css   MT20015  */
fichero {background-color:blue;}
ficha {background-color:gray; display:block;}
cabecera {color:white; display:inline;}
habitantes {color:yellow; display:inline;}
moneda {color:blue; display:inline;}
codigoTelefonico {color:orangered;}
idioma {color:green; display:inline;}
altura {color:brown; display:inline;}
habitantes {color:rosybrown; display:inline;}
